@import "base/variables";

* {
  font-family: "Poppins", sans-serif;
}
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 950px;
  margin: 0 auto;
}

@import "base/variables";

@import "blocks/start";
@import "blocks/story";
@import 'blocks/fortes';
@import 'blocks/tool';
@import 'blocks/features';
@import 'blocks/help';
@import 'blocks/world';
@import 'blocks/join';
@import 'blocks/community';
@import 'blocks/business';
@import 'blocks/footer';
@import "base/mixins";
