.business {
  height: 542px;
  background: url("../../img/image 14.png");
  &__header {
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    text-transform: capitalize;

    color: #ffffff;
    padding-top: 134px;
  }
  &__subheader {
    font-weight: 400;
    font-size: 20px;

    text-align: center;
    margin-top: 36px;
    color: #ffffff;
  }
  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 30px;
    gap: 10px;

    margin-left: 360px;
    margin-top: 33px;
    border: none;
    position: absolute;
    width: 167px;
    height: 45px;
    background: #ff1da3;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;

    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
